---
import ImageGallery from '@/components/ImageGallery.astro';
import Vote100Yil from '@/components/Vote100Yil.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title='100. Yıl Resimleri - iztechai'
  description='Cumhuriyetimizin 100. yılı için yapay zeka (DALLE-3) ile oluşturduğumuz resimler'
>
  <div class='mb-4 md:mb-8'>
    <a
      href='/'
      class='text-white text-lg md:text-xl xl:text-2xl underline decoration-iztechred decoration-dotted decoration-4 underline-offset-4 md:underline-offset-[6px]'
      >Geri Dön</a
    >
  </div>
  <div class='mb-4 md:mb-8 w-full max-w-sm'>
    <Vote100Yil />
  </div>
  <ImageGallery />
</Layout>
