---
import Layout from '@/layouts/Layout.astro';
import Socials from '@/components/Socials.astro';
import MemberCount from '@/components/MemberCount.tsx';
---

<Layout>
  <main>
    <div class='mt-4 sm:mt-8 sm:max-w-[65ch] lg:text-lg'>
      <p class='mb-4 sm:mb-8'>
        <span class='font-bold text-lg lg:text-xl text-foreground/90'
          >Merhaba!</span
        > Yapay zeka alanında yolculuğunuza başlamak mı istiyorsunuz? O halde, sizi
        de aramızda görmekten mutluluk duyarız.
      </p>
      <h2 class='font-bold text-lg lg:text-xl text-foreground/95 sm:pb-2'>
        Biz Kimiz?
      </h2>
      <p class='mb-4 sm:mb-8'>
        IYTE Yapay Zeka ve Veri Bilimi Topluluğu olarak, bu alanda hevesli
        öğrencileri ve meraklıları bir araya getiren sıcak bir ortam sunuyoruz.
        Amacımız, hep birlikte öğrenmek, deneyimlemek ve büyümek.
      </p>
      <h2 class='font-bold text-lg lg:text-xl text-foreground/95 sm:pb-2'>
        Neler Sunuyoruz?
      </h2>
      <ul
        class='flex flex-col gap-y-1 sm:gap-y-2 pl-2 sm:pl-4 list-disc list-inside'
      >
        <li>
          <span><strong>Mentorluk:</strong></span> Alanında deneyimli kişilerden
          yol gösterici bilgiler alabilirsiniz.
        </li>
        <li>
          <span><strong>Uzman Söyleşileri:</strong></span> Farklı bakış açıları keşfedeceğiniz,
          ilham alacağınız konuşmalar.
        </li>
        <li>
          <span><strong>Projeler ve Yarışmalar:</strong></span> Yeteneklerinizi geliştirebileceğiniz
          ve deneyim kazanabileceğiniz etkinlikler.
        </li>
        <li>
          <span><strong>Kariyer Desteği:</strong></span> Kariyerinizin ilk adımlarında
          yanınızda olacak rehberlik.
        </li>
      </ul>
      <h2
        class='font-bold text-lg lg:text-xl text-foreground/95 pt-4 sm:pt-8 sm:pb-2'
      >
        Neden Bize Katılmalısınız?
      </h2>
      <p class='pb-8 sm:pb-12'>
        Yapay Zeka Topluluğu olarak, birbirimizden öğrenmek ve birlikte büyümek
        istiyoruz. Siz de bizimle birlikte bu heyecan verici yolculuğa çıkmak
        isterseniz, kapımız her zaman açık!
      </p>
    </div>
    <Socials />
    <MemberCount client:load />
  </main>
</Layout>
