---
import DiscordSvg from './DiscordSvg.astro';
---

<a
  href='https://discord.gg/nf9e83g62a'
  title='Discord invite'
  aria-label='Discord invite link to the official server of the society'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-blurple mx-auto w-full max-w-sm relative min-h-[2.5rem] rounded-lg flex items-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <DiscordSvg class='w-10 text-white absolute' />
  <span class='text-xl text-white inline-block text-center w-full'>Discord</span
  >
</a>
