---
import { Image } from 'astro:assets';
---

<header class='pt-4 sm:pt-8 text-foreground'>
  <div
    class='flex justify-center items-center gap-x-4 sm:gap-x-10 px-6 sm:px-12 mb-6 sm:mb-12'
  >
    <Image
      src='/images/iyte-logo.png'
      alt='logo of Izmir Institute of Technology'
      loading='eager'
      width={400}
      height={400}
      class='w-1/2 h-auto max-w-[300px] transition-all duration-150 ease-in shadow-lg shadow-[rgba(0,0,0,0.4)] dark:shadow-gray-800 cursor-default focus:ring-2 focus:ring-blue hover:ring-2 hover:ring-blue active:ring-2 active:ring-blue rounded-full'
    />
    <Image
      src='/images/logo.png'
      alt='logo of Iztech AI society'
      loading='eager'
      width={400}
      height={400}
      class='w-1/2 h-auto max-w-[300px] transition-all duration-150 ease-in shadow-lg shadow-[rgba(0,0,0,0.4)] dark:shadow-gray-800 cursor-default focus:ring-2 focus:ring-blue hover:ring-2 hover:ring-blue active:ring-2 active:ring-blue rounded-full'
    />
  </div>
  <h1 class='text-6xl lg:text-7xl mb-8 sm:mb-12 lg:mb-14 text-center'>
    Iztech AI Society
  </h1>
</header>
