---
import { Image } from 'astro:assets';
import iztechLogo from '@/assets/iyte-logo.png';
import aiSocLogo from '@/assets/logo.png';
---

<header class='pt-4 sm:pt-8 text-foreground'>
  <div
    class='flex justify-center items-center gap-x-4 sm:gap-x-10 px-6 sm:px-12 mb-6 sm:mb-12'
  >
    <Image
      src={iztechLogo}
      alt='logo of Izmir Institute of Technology'
      loading='eager'
      class='w-1/2 h-auto max-w-[250px] transition-all duration-150 ease-in shadow-lg shadow-[rgba(0,0,0,0.4)] dark:shadow-gray-800 cursor-default focus:ring-2 focus:ring-blue hover:ring-2 hover:ring-blue active:ring-2 active:ring-blue rounded-full'
    />
    <Image
      src={aiSocLogo}
      alt='logo of Iztech AI society'
      loading='eager'
      class='w-1/2 h-auto max-w-[250px] transition-all duration-150 ease-in shadow-lg shadow-[rgba(0,0,0,0.4)] dark:shadow-gray-800 cursor-default focus:ring-2 focus:ring-blue hover:ring-2 hover:ring-blue active:ring-2 active:ring-blue rounded-full'
    />
  </div>
  <a href='/'>
    <h1
      class='font-heading text-6xl lg:text-7xl mb-8 sm:mb-12 lg:mb-14 text-center'
    >
      Iztech AI Society
    </h1>
  </a>
</header>
