---
import { Image } from 'astro:assets';
import { prompts } from '@/config/prompts';

const images = await Astro.glob('../assets/100-yil/*.{png,jpeg,jpg,webp}');
---

<ol
  class='flex flex-col xl:flex-row xl:flex-wrap xl:justify-center gap-y-6 xl:gap-x-6 sm:gap-y-14'
>
  {
    images.map((image, idx) => (
      <li class='relative'>
        <div class='absolute top-1 left-2'>
          <span class='text-white font-bold text-2xl bg-iztechred/60 rounded p-1'>
            {idx + 1}
          </span>
        </div>
        <figure>
          <Image
            src={image.default}
            alt='100 yıl'
            width={500}
            height={500}
            class='rounded-lg mb-2 sm:mb-4'
          />
          <figcaption class='text-sm md:text-base px-3 max-w-[500px]'>
            {prompts[idx]}
          </figcaption>
        </figure>
      </li>
    ))
  }
</ol>
