---
// import InstagramSvg from '@/components/InstagramCTA.astro';
import { Instagram } from 'lucide-react';
---

<a
  href='https://www.instagram.com/iztechai'
  title="@iztechai Instagram"
  aria-label="@iztechai Instagram"
  target='blank'
  rel='noopener noreferrer nofollow'
  class='mx-auto w-full max-w-sm rounded-lg flex items-center relative min-h-[2.5rem] active:scale-90 transition-all duration-100 ease-in-out p-2 drop-shadow-md hover:scale-105'
>
  <Instagram
    aria-label='instagram icon'
    className='h-10 w-10 text-white absolute'
  />
  <span class='text-foreground text-xl inline-block text-center w-full'
    >Instagram</span
  >
</a>

<style>
  a {
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
</style>
