<a
  href='https://forms.gle/7Q2Z2xMhAji4bU3D7'
  title='Apply to be a member of the society'
  aria-label='Society Application form link to google forms'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-iztechred mx-auto w-full max-w-sm rounded-lg flex items-center justify-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <span class='text-xl font-bold text-foreground'>Üye Ol</span>
</a>
