---
import { Linkedin } from 'lucide-react';
---

<a
  href='https://www.linkedin.com/company/iztechaisociety/'
  title='Iztech AI Society Linkedin'
  aria-label='Iztech AI Society Linkedin'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-linkedin mx-auto w-full max-w-sm relative min-h-[2.5rem] rounded-lg flex items-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <Linkedin className='w-10 h-10 text-white absolute' />
  <span class='text-xl text-foreground inline-block text-center w-full'
    >Linkedin</span
  >
</a>
