---
import DiscordCTA from './DiscordCTA.astro';
import InstagramCTA from './InstagramCTA.astro';
import JoinCTA from './JoinCTA.astro';
import LinkedinCTA from './LinkedinCTA.astro';
import WhatsappCTA from './WhatsappCTA.astro';
import XCTA from './XCTA.astro';
import YoutubeCTA from './YoutubeCTA.astro';
---

<div class='flex flex-col gap-y-4 sm:gap-y-6 overflow-hidden'>
  <JoinCTA />
  <DiscordCTA />
  <InstagramCTA />
  <XCTA />
  <YoutubeCTA />
  <LinkedinCTA />
</div>
