<a
  href='https://docs.google.com/forms/d/e/1FAIpQLSf4y1B6ZQhKdRaaqw-IqrSyJEsVpsmNRx_ygzZ1was_pck4vA/viewform'
  title='Resimleri Oyla'
  aria-label='Resimleri Oyla'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-iztechred mx-auto w-full max-w-sm rounded-lg flex items-center justify-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <span class='text-xl font-bold text-foreground'>Resimleri Oyla</span>
</a>
