---
import WhatsappSvg from '@/components/WhatsappSvg.astro';
---

<a
  href='https://chat.whatsapp.com/Bbu9JMKY8glIU3lKZPe8YC'
  title='Iztech AI Society WhatsApp'
  aria-label='Iztech AI Society WhatsApp'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-whatsapp mx-auto w-full max-w-sm relative min-h-[2.5rem] rounded-lg flex items-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <WhatsappSvg class='w-10 h-10 text-white absolute' />
  <span class='text-xl text-white inline-block text-center w-full'
    >WhatsApp</span
  >
</a>
