---
import XSvg from '@/components/XSvg.astro';
---

<a
  href='https://x.com/iztech_ai'
  title='Iztech AI Society X Account'
  aria-label='Iztech AI Society X Account'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-black mx-auto w-full max-w-sm relative min-h-[2.5rem] rounded-lg flex items-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <XSvg class='w-10 text-white absolute' />
  <span class='text-xl text-foreground inline-block text-center w-full'>X</span>
</a>
