---
import { Youtube } from 'lucide-react';
---

<a
  href='https://www.youtube.com/channel/UCbZzIJez2KM5BLtHun_yOrQ'
  title='Iztech AI Society Youtube Channel'
  aria-label='Iztech AI Society Youtube Channel'
  target='_blank'
  rel='noopener noreferrer'
  class='bg-youtube/90 mx-auto w-full max-w-sm relative min-h-[2.5rem] rounded-lg flex items-center active:scale-90 hover:scale-105 transition-all duration-100 ease-in-out p-2 drop-shadow-md'
>
  <Youtube className='w-10 h-10 text-white absolute' />
  <span class='text-xl text-white inline-block text-center w-full'>Youtube</span
  >
</a>
