---
import { SEOMetadata } from 'astro-seo-metadata';

import siteConfig from '@/../site.config';

interface Props {
  title: string;
  description?: string;
  index?: boolean;
}

const { title, description, index = !siteConfig.disableIndexing } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' href='/favicon.ico' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <link rel='mask-icon' href='/safari-pinned-tab.svg' color='#5bbad5' />
    <meta name='apple-mobile-web-app-title' content='Iztech AI' />
    <meta name='application-name' content='Iztech AI' />
    <meta name='msapplication-TileColor' content='#9b2b3a' />
    <meta name='theme-color' content='#6f0e1b' />

    <SEOMetadata
      siteName={'Iztech AI Society'}
      title={title || 'Iztech AI Society'}
      description={description ||
        'Iztech AI Society is a student club at Izmir Institute of Technology.'}
      author='Arda Sevinç'
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={'website'}
      astroGenerator={true}
    />
    <meta
      name='robots'
      content={index ? 'index, follow' : 'noindex, nofollow'}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
